/* _content/Transify/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-z5v971wr2l] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-z5v971wr2l] {
  color: #0077cc;
}

.btn-primary[b-z5v971wr2l] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-z5v971wr2l], .nav-pills .show > .nav-link[b-z5v971wr2l] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-z5v971wr2l] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-z5v971wr2l] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-z5v971wr2l] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-z5v971wr2l] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-z5v971wr2l] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.card-body[b-z5v971wr2l] {
    padding: 2rem;
}

.card-title[b-z5v971wr2l] {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card-text[b-z5v971wr2l] {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.btn[b-z5v971wr2l] {
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover[b-z5v971wr2l] {
    background-color: #0056b3;
}

.btn-secondary:hover[b-z5v971wr2l] {
    background-color: #6c757d;
}
section[b-z5v971wr2l] {
    width: 100%;
}

.container-fluid[b-z5v971wr2l] {
    padding-left: 0;
    padding-right: 0;
}
.btn-custom[b-z5v971wr2l] {
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

    .btn-custom:hover[b-z5v971wr2l] {
        background-color: #0056b3;
        color: #ffffff;
    }

    .btn-custom:focus[b-z5v971wr2l],
    .btn-custom:active[b-z5v971wr2l] {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }

    .btn-custom:active[b-z5v971wr2l] {
        transform: translateY(1px);
    }
html[b-z5v971wr2l], body[b-z5v971wr2l] {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
}

.full-height[b-z5v971wr2l] {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
}

main[b-z5v971wr2l] {
    flex: 1; /* Allows main content to take the remaining space */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

